@font-face {
  font-family:"Roboto-Regular" ;
  src: url("../fonts/Roboto-Regular.woff") format('woff');
}

@font-face {
  font-family:"Roboto-Bold" ;
  src: url("../fonts/Roboto-Bold.woff") format('woff'),
  url("../fonts/Roboto-Bold.eot") format('eot');
}